.wrapper {
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ddd;
  border-radius: 6px;
  margin: 40px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}